html {
  background-color: #fafbfc;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.words {
  max-width: 40em;
  margin: 6rem auto 40% auto;
  position: relative;
}

.paragraph {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 1rem;
  transform: translateY(0);
  transition: transform 0.5s;
}

p {
  flex: 1;
  order: 2;
  padding: 0 1em;
  font-size: 18px;
  color: #47433F;
  line-height: 1.75em;
}

p:focus {
  outline:0;
}

h5 {
  flex: 0 64px;
  order: 1;
  color: #C5CEC6;
  font-weight: lighter;
}

h6 {
  flex-grow: 0;
  order: 3;
  color: #C5CEC6;
  font-weight: lighter;
}

.capture {
  opacity: 0.7;
  transform: translateY(60px);
}

.warning {
  height: 20px;
  width: 20px;
  fill: #FFD105;
}

.lock {
  cursor:pointer;
  height: 20px;
  width: 20px;
  fill: #C5CEC6;
  transition: fill 0.3s;
}

.lock:hover {
  fill: #47433F;
}

.unlocked .lock {
  fill: #40BA69;
}

.unlocked p {
  background-color: #FFFFFF;
  border: 1px solid #C5CEC6;
  border-radius: 3px;
}

.panel {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background: -moz-linear-gradient(top, rgba(250,251,252,0) 0%, rgba(250,251,252,0.9) 20%, rgba(250,251,252,0.9) 100%);
  background: -webkit-linear-gradient(top, rgba(250,251,252,0) 0%,rgba(250,251,252,0.9) 20%,rgba(250,251,252,0.9) 100%);
  background: linear-gradient(to bottom, rgba(250,251,252,0) 0%,rgba(250,251,252,0.9) 20%,rgba(250,251,252,0.9) 100%);
}

.controls {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:focus {
  outline:0;
}

.listen-button {
  cursor:pointer;
  display: flex;
  width: 64px;
  height: 64px;
  margin: auto;
  align-self: flex-end;
  background-color: #40BA69;
  border-width: 0px;
  border-radius: 32px;
  box-shadow: 0px 4px 6px #d1d2d3;
  transform: scale(1);
  transition: transform 0.5s, box-shadow 0.5s;
}

@keyframes pulse {
    0%   {background-color:#EC4741; box-shadow: 0px 0px 10px #EC4741;}
    100% {background-color:#ff3d36; box-shadow: 0px 0px 48px #EC4741;}
}

.active {
  background-color: #EC4741;
  box-shadow: 0px 0px 10px #EC4741;
  transform: scale(0.95);
  -webkit-animation: pulse 2s linear 0.5s infinite alternate;
  animation: pulse 2s linear infinite 0.5s alternate;
}

.listen-button svg {
  margin: auto;
  width: 40px;
  height: 40px;
  fill: white;
}



@media all and (max-width: 600px) {

  p {
    flex: 1 100%;
    padding: 0;
    margin-top: -0.5em;
  }

  h6 {
    text-align: right;
    order: 1;
  }

}
